In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv(r"C:\Users\User\Downloads\mobile_price_classification.csv")

In [ ]:
data.head()

,battery_power,bluetooth,clock_speed,dual_sim,front_cam,4G,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   battery_power   2000 non-null   int64
 1   bluetooth       2000 non-null   int64
 2   clock_speed     2000 non-null   float64
 3   dual_sim        2000 non-null   int64
 4   front_cam       2000 non-null   int64
 5   4G              2000 non-null   int64
 6   int_memory      2000 non-null   int64
 7   m_dep           2000 non-null   float64
 8   mobile_wt       2000 non-null   int64
 9   n_cores         2000 non-null   int64
 10  primary_camera  2000 non-null   int64
 11  px_height       2000 non-null   int64
 12  px_width        2000 non-null   int64
 13  ram             2000 non-null   int64
 14  sc_h            2000 non-null   int64
 15  sc_w            2000 non-null   int64
 16  talk_time       2000 non-null   int64
 17  three_g         2000 non-null   int64
 18  touch_screen    2000 non-null   int64
 19  wifi            2000 non-null   int64
 20  price_range     2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [ ]:
data.isna().sum()

battery_power     0
bluetooth         0
clock_speed       0
dual_sim          0
front_cam         0
4G                0
int_memory        0
m_dep             0
mobile_wt         0
n_cores           0
primary_camera    0
px_height         0
px_width          0
ram               0
sc_h              0
sc_w              0
talk_time         0
three_g           0
touch_screen      0
wifi              0
price_range       0
dtype: int64

In [ ]:
data.columns

Index(['battery_power', 'bluetooth', 'clock_speed', 'dual_sim', 'front_cam',
       '4G', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'primary_camera',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [ ]:
x=data[['battery_power', 'bluetooth', 'clock_speed', 'dual_sim', 'front_cam',
       '4G', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'primary_camera',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi']]
y=data[['price_range']]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
model=Sequential()
model.add(Dense(32,activation='relu'))
model.add(Dense(16,activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(4,activation='softmax'))

In [ ]:
model.compile( loss='sparse_categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
model.fit(x_train,y_train,epochs=10)

Epoch 1/10
50/50 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.2553 - loss: 123.8706
Epoch 2/10
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3823 - loss: 11.7485
Epoch 3/10
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4473 - loss: 3.8368
Epoch 4/10
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4890 - loss: 2.1964
Epoch 5/10
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.4668 - loss: 1.7254
Epoch 6/10
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5155 - loss: 1.4496
Epoch 7/10
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5178 - loss: 1.3485
Epoch 8/10
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 971us/step - accuracy: 0.5033 - loss: 1.3104
Epoch 9/10
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5315 - loss: 1.1416
Epoch 10/10
50/50 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.5312 - loss: 1.1380

In [ ]:
y_pred=np.argmax(model.predict(x_test),axis=1)

13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.5875

In [ ]:
y_pred

array([1, 3, 1, 3, 0, 3, 3, 0, 3, 3, 0, 1, 2, 3, 3, 2, 3, 3, 3, 0, 0, 2,
       1, 2, 2, 2, 2, 3, 2, 0, 1, 1, 3, 0, 3, 3, 3, 0, 3, 2, 2, 3, 3, 0,
       3, 2, 3, 1, 3, 1, 3, 2, 0, 0, 2, 2, 2, 2, 0, 0, 0, 3, 3, 3, 3, 1,
       3, 3, 3, 2, 2, 3, 0, 1, 3, 0, 0, 3, 2, 3, 3, 2, 3, 0, 1, 3, 3, 3,
       3, 0, 3, 2, 2, 0, 3, 3, 2, 3, 2, 1, 0, 0, 0, 1, 1, 3, 3, 0, 1, 2,
       0, 0, 2, 0, 3, 2, 3, 2, 0, 3, 3, 3, 2, 2, 3, 2, 0, 3, 0, 2, 3, 1,
       2, 1, 0, 3, 0, 0, 2, 2, 3, 0, 2, 3, 0, 0, 0, 1, 2, 2, 3, 0, 2, 0,
       2, 3, 0, 1, 0, 2, 3, 3, 2, 3, 1, 0, 0, 3, 2, 3, 3, 3, 1, 1, 3, 1,
       2, 3, 1, 3, 0, 0, 0, 2, 3, 2, 0, 3, 0, 0, 0, 0, 2, 3, 3, 0, 0, 2,
       3, 1, 1, 3, 2, 2, 3, 3, 1, 3, 0, 1, 0, 2, 2, 1, 2, 2, 2, 3, 3, 1,
       3, 1, 1, 0, 0, 2, 1, 2, 0, 0, 0, 0, 1, 3, 3, 2, 0, 3, 3, 2, 3, 3,
       3, 3, 0, 2, 2, 3, 3, 3, 3, 1, 2, 3, 3, 1, 3, 3, 3, 3, 3, 0, 2, 3,
       2, 2, 2, 2, 3, 3, 3, 2, 3, 0, 1, 3, 0, 3, 3, 1, 3, 0, 1, 3, 1, 3,
       0, 0, 3, 0, 2, 1, 3, 3, 3, 0, 1, 0, 2, 3, 3, 0, 2, 1, 3, 0, 3, 3,
       3, 3, 2, 3, 3, 0, 2, 2, 2, 3, 0, 0, 1, 3, 2, 3, 0, 1, 1, 2, 3, 3,
       3, 0, 3, 2, 2, 1, 3, 1, 0, 3, 1, 3, 2, 0, 2, 1, 3, 3, 3, 3, 2, 1,
       1, 2, 3, 0, 3, 0, 0, 2, 0, 1, 2, 3, 2, 3, 0, 2, 2, 2, 3, 3, 3, 3,
       2, 3, 1, 3, 3, 3, 3, 0, 2, 2, 2, 2, 3, 3, 2, 0, 2, 2, 0, 0, 2, 3,
       2, 3, 2, 3], dtype=int64)